In [9]:
import os
import csv
import pandas as pd

In [10]:
file_location = os.path.join('.','assets','data')
csv_name = 'data.csv'
js_name = 'data.js'

In [11]:
csv_file = os.path.join(file_location,csv_name)
js_file = os.path.join(file_location,csv_name)

In [12]:
# read csv file into a dataframe
df = pd.read_csv(csv_file)
df.head()

,id,state,abbr,poverty,povertyMoe,age,ageMoe,income,incomeMoe,healthcare,healthcareLow,healthcareHigh,obesity,obesityLow,obesityHigh,smokes,smokesLow,smokesHigh
0,1,Alabama,AL,19.3,0.5,38.6,0.2,42830,598,13.9,12.7,15.1,33.5,32.1,35.0,21.1,19.8,22.5
1,2,Alaska,AK,11.2,0.9,33.3,0.3,71583,1784,15.0,13.3,16.6,29.7,27.8,31.6,19.9,18.2,21.6
2,4,Arizona,AZ,18.2,0.4,36.9,0.1,50068,483,14.4,13.3,15.6,28.9,27.7,30.2,16.5,15.4,17.6
3,5,Arkansas,AR,18.9,0.5,37.8,0.2,41262,653,16.3,14.4,18.2,35.9,33.8,38.0,24.7,22.7,26.7
4,6,California,CA,16.4,0.2,36.0,0.1,61933,238,14.8,13.8,15.8,24.7,23.5,25.9,12.9,11.9,13.8

In [17]:
var_names = df.columns
var_types = df.dtypes

In [19]:
print(var_names)

Index(['id', 'state', 'abbr', 'poverty', 'povertyMoe', 'age', 'ageMoe',
       'income', 'incomeMoe', 'healthcare', 'healthcareLow', 'healthcareHigh',
       'obesity', 'obesityLow', 'obesityHigh', 'smokes', 'smokesLow',
       'smokesHigh'],
      dtype='object')

In [20]:
print(var_types)

id                  int64
state              object
abbr               object
poverty           float64
povertyMoe        float64
age               float64
ageMoe            float64
income              int64
incomeMoe           int64
healthcare        float64
healthcareLow     float64
healthcareHigh    float64
obesity           float64
obesityLow        float64
obesityHigh       float64
smokes            float64
smokesLow         float64
smokesHigh        float64
dtype: object